html,
body {
    margin: 0;
    padding: 0;
}

html {
    background-color: royalblue;
}

#button-container {
    height: 20%;
}

#results {
    height: 400px;
}

#button-container,
#results {
    min-width: 100%;
    margin-top: 5ch;
    padding: 10px 0;
    text-align: center;
}

h1,
#champ-label,
#win-name,
#win-message {
    font-size: 40px;
    font-weight: bolder;
}

h1,
h2 {
    text-align: center;
    color: black;
}

h2 {
    font-size: 20px;
    /* font-weight: lighter; */
}

.game-buttons {
    height: 100px;
    color: wheat;
    border-radius: 2px;

}

#data-btn-pap,
#data-btn-roc,
#data-btn-sci {
    margin-right: 30px;
    height: 100px;
    width: 200px;
    font-size: 3ch;
    font-weight: bold;
    color: black;
    background-color: wheat;

}

#data-btn-pap:hover,
#data-btn-roc:hover,
#data-btn-sci:hover {
    color: wheat;
    background-color: black;
    border: none;
}

#data-btn-pap:active,
#data-btn-roc:active,
#data-btn-sci:active {
    background-color: palevioletred;
    color: black;
}

#game-count,
#results {
    font-size: xx-large;
}